In [2]:
import pandas as pd
import requests #to deal with links

In [8]:
response = requests.get("https://api.themoviedb.org/3/trending/movie/week?api_key=46680c30fecafb5fbc8dc20b666ad658")

import requests

url = "https://api.themoviedb.org/3/account/22141754/rated/tv/episodes?language=en-US&page=1&sort_by=created_at.asc"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NjY4MGMzMGZlY2FmYjVmYmM4ZGMyMGI2NjZhZDY1OCIsIm5iZiI6MTc1MjM0MzA0Ni42NDQsInN1YiI6IjY4NzJhMjA2ZjNmZTNjZjVjYjZlYTI1NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.psdnvHaGFrhq1SzT79cNjdw1WUDdvhnKlQzpOq8vELs"
}

response = requests.get(url, headers=headers)

print(response.text)

## ?api_key=YOUR_API_KEY to insert your api key

## error code 200 - fetched data successfully

In [14]:
pd.DataFrame(response.json()['results']).head()

,adult,backdrop_path,id,title,original_title,overview,poster_path,media_type,original_language,genre_ids,popularity,release_date,video,vote_average,vote_count
0,False,/g62G6aBcAcJv3ClCKmJgmHarHvq.jpg,1061474,Superman,Superman,"Superman, a journalist in Metropolis, embarks ...",/ombsmhYUqR4qqOLOxAyr5V8hbyv.jpg,movie,en,"[878, 12, 28]",352.4649,2025-07-09,False,7.330,367
1,False,/peAzdLKtT6VDWIfPQO9LJD1NCG4.jpg,1234821,Jurassic World Rebirth,Jurassic World Rebirth,Five years after the events of Jurassic World ...,/q0fGCmjLu42MPlSO9OYWpI5w86I.jpg,movie,en,"[878, 12, 28]",334.7735,2025-07-01,False,6.400,507
2,False,/nKyBbFSooRPTJVqjrDteD1lF733.jpg,1011477,Karate Kid: Legends,Karate Kid: Legends,"After a family tragedy, kung fu prodigy Li Fon...",/AEgggzRr1vZCLY86MAp93li43z.jpg,movie,en,"[28, 12, 18]",612.5718,2025-05-08,False,7.300,321
3,False,/sItIskd5xpiE64bBWYwZintkGf3.jpg,541671,Ballerina,Ballerina,Taking place during the events of John Wick: C...,/2VUmvqsHb6cEtdfscEA6fqqVzLg.jpg,movie,en,"[28, 53, 80]",480.9303,2025-06-04,False,7.429,890
4,False,/rthMuZfFv4fqEU4JVbgSW9wQ8rs.jpg,986056,Thunderbolts*,Thunderbolts*,After finding themselves ensnared in a death t...,/hqcexYHbiTBfDIdDWxrxPtVndBX.jpg,movie,en,"[28, 878, 12]",347.9288,2025-04-30,False,7.431,1724

In [17]:
temp_df = pd.DataFrame(response.json()['results']).head()

In [21]:
temp_df

,adult,backdrop_path,id,title,original_title,overview,poster_path,media_type,original_language,genre_ids,popularity,release_date,video,vote_average,vote_count
0,False,/g62G6aBcAcJv3ClCKmJgmHarHvq.jpg,1061474,Superman,Superman,"Superman, a journalist in Metropolis, embarks ...",/ombsmhYUqR4qqOLOxAyr5V8hbyv.jpg,movie,en,"[878, 12, 28]",352.4649,2025-07-09,False,7.330,367
1,False,/peAzdLKtT6VDWIfPQO9LJD1NCG4.jpg,1234821,Jurassic World Rebirth,Jurassic World Rebirth,Five years after the events of Jurassic World ...,/q0fGCmjLu42MPlSO9OYWpI5w86I.jpg,movie,en,"[878, 12, 28]",334.7735,2025-07-01,False,6.400,507
2,False,/nKyBbFSooRPTJVqjrDteD1lF733.jpg,1011477,Karate Kid: Legends,Karate Kid: Legends,"After a family tragedy, kung fu prodigy Li Fon...",/AEgggzRr1vZCLY86MAp93li43z.jpg,movie,en,"[28, 12, 18]",612.5718,2025-05-08,False,7.300,321
3,False,/sItIskd5xpiE64bBWYwZintkGf3.jpg,541671,Ballerina,Ballerina,Taking place during the events of John Wick: C...,/2VUmvqsHb6cEtdfscEA6fqqVzLg.jpg,movie,en,"[28, 53, 80]",480.9303,2025-06-04,False,7.429,890
4,False,/rthMuZfFv4fqEU4JVbgSW9wQ8rs.jpg,986056,Thunderbolts*,Thunderbolts*,After finding themselves ensnared in a death t...,/hqcexYHbiTBfDIdDWxrxPtVndBX.jpg,movie,en,"[28, 878, 12]",347.9288,2025-04-30,False,7.431,1724

In [24]:
df = pd.DataFrame() #making an empty dataframe to fetch all the pages in loop

In [25]:
df

Empty DataFrame
Columns: []
Index: []